<div class="row ">
	<div class="col text-center">
		<h4>ВІДГУКИ</h4>
	</div>
</div>
<div class="card-columns mb-3">
  <div class="card border-dark bg-light mr-ml-auto rounded-lg">
  	<div class="card-header text-center">
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  	</div>
    <div class="card-body text-center">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis blandit turpis, in porttitor metus venenatis gravida. Sed justo est, porttitor a leo mollis, semper sagittis lacus. Morbi vitae malesuada.</p>
    </div>
    <div class="card-footer text-right">
    	<i class="bi bi-person-circle"></i> Natalya2021
    </div>
  </div>

  <div class="card border-dark bg-light mr-ml-auto">
  	<div class="card-header text-center">
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  	</div>
    <div class="card-body text-center">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis blandit turpis, in porttitor metus venenatis gravida. Sed justo est, porttitor a leo mollis, semper sagittis lacus. Morbi vitae malesuada.</p>
    </div>
        <div class="card-footer text-right">
    	<i class="bi bi-person-circle"></i> ShefPovar
    </div>
  </div>

  <div class="card border-dark bg-light mr-ml-auto opacity-25">
  	<div class="card-header text-center">
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  		<i class="bi bi-star-fill" style="font-size: 16px;"></i>
  	</div>
    <div class="card-body text-center">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis blandit turpis, in porttitor metus venenatis gravida. Sed justo est, porttitor a leo mollis, semper sagittis lacus. Morbi vitae malesuada.</p>
    </div>
    <div class="card-footer text-right">
    	<i class="bi bi-person-circle"></i> Igoryanskii

  </div>
  </div>
</div>