			<!--Modal-->
			<div id="myModal{{ obj.pk }}" class="modal fade bd-example-modal-xl" role="dialog">
			  <div class="modal-dialog modal-xl">

			    <!-- Modal content-->
			   <div class="modal-dialog modal-xl ">
			    <div class="modal-content ">
			      <div class="modal-header">        
			        <h4 class="modal-title">{{ obj.title }}</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			      	<div class="container">
			      	  <div class="row">
				      	<div class="col-6 order-first"><img class="modal-content" src="{{ obj.image.url }}" ></div>
				        <div class="col-6">
						  <div class="row">
						   <div class="col-12 align-self-start">
							<p>{{ obj.description }}</p>
						   </div>
						   <div class="col">
				        	<h5>Заказать:<br>+36204291205</h5>
				           </div>
				          </div>
				        </div>
				      </div>
				    </div>
			      </div>
			    </div>
			   </div>

			  </div>
			</div>  
			<!--END Modal-->
			<button type="button" class="btn btn-success btn-block mt-auto" data-toggle="modal" data-target="#myModal{{ obj.pk }}">Больше</button>
