{% load static %}
<div class="container">
	<div class="row justify-content-center my-6">
		<div class="col-md-3 text-center">
			<img src="{% static 'images/icons/time' %}" class="rounded mx-auto" alt="Responsive image">
			<h2 id="qmark_text" class="text-center">Торт на заказ</h2>
			<h4 class="text-center">С радостью сделаем для вас торт 
			на заказ с учетом ваших 
			индивидуальных пожеланий</h4>
		</div>
		<div class="col-md-3 text-center">
			<img src="{% static 'images/icons/time' %}" class="rounded mx-auto" alt="Responsive image">
			<h2 id="qmark_text" class="text-center">Максимально свіже</h2>
			<h4 class="text-center">Собственное производство
				из высококачественных
				натуральных продуктов</h4>
		</div>
		<div class="col-md-3 text-center">
			<img src="{% static 'images/icons/time' %}" class="rounded mx-auto" alt="Responsive image">
			<h2 id="qmark_text" class="text-center">Поможем с выбором</h2>
			<h4 class="text-center">Проконсультируем по вкусам, 
			оформлению и дизайну. 
			Воплотим в жизнь ваши идеи.</h4>
		</div>
	</div>
</div>